export WHMCS_LOGIN=admin
export WHMCS_PASSWORD=PASSWORD
export WHMCS_HTTP_PASSWORD=PASSWORD

export CLN_LOGIN=LOGIN
export CLN_SECRET=TOKEN

export WHMCS_HOST=whmcs.cloudlinux.com
export WHMCS_HOST_USER=root
export WHMCS_HOST_PASSWORD=PASSWORD
export WHMCS_MYSQL_DB=whmcs_w
export WHMCS_MYSQL_USER=whmcs_w
export WHMCS_MYSQL_PASSWORD=PASSWORD

export USE_STANDALONE_SELENIUM=1